.right-panel {
  position: fixed;
  right: 0;
  top: 0;
  padding: 40px;
}
.list {
  li {
    cursor: pointer;
    i {
      line-height: 3;
      margin-right: 15px;
    }
  }
}
.list li:hover {
  box-shadow: 1px 7px 10px grey;
}
